app/.gradle
app/build/
app/!gradle/wrapper/gradle-wrapper.jar
app/!**/src/main/**/build/
app/!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
app/.idea/
*.iws
*.iml
*.ipr
out/
app/out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
